p{

	color :BLACK;
	
}

H1{
	
	
font-family: arial;

color:BLACK;
font*size: 24px;

}
p{

	color :black;
	
}

H2{
	
	
font-family: arial;

color:BLACK;
font*size: 24px;

}
ol{

	color :BLACK
	font.size:24px;
	
}
tr{

	color :BLACK
	
}
p{

	color :rad;
	
}


	
	


